* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/


.debug .header-top {
    height: 80px;
    background-color: aqua;
}

.debug .header-bottom {
    /*height: 400px;*/
    background-color: blue;
}

/*
.debug .container {
    height: 60px;
}*/

.flex-cont {
    background-color: yellowgreen;
}

.flex-item_hd {
    border: 1px dotted black;
}

.hb_box {
    background-color: purple;
    border: 1px dotted black;
}


/*css*/

.header-top, .header-bottom {
    padding: 20px;
}
.container {
    width: 80%;
    margin: auto;
}

.flex-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.logo {
    width: 20%;
    text-align: left;
    padding: 10px;
}

.login {
    width: 20%;
    text-align: right;
    padding: 10px;
}


.menu {
    width: 60%;
    text-align: center;
    list-style-type: none;
    line-height: 100%;
    padding: 11px;
}

.menu li {
    display: inline;
}

.hb_box {
    width: 65%;
    height: 400px;
    margin: auto;
}
