* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER*/

/*debug*/


.debug .header-top {
    height: 80px;
    background-color: aqua;
}

.debug .header-bottom {
    /*height: 400px;*/
    background-color: darkblue;
}

/*
.debug .container {
    height: 60px;
}*/

.flex-cont_hd {
    background-color: yellowgreen;
}

.hb_box {
    background-color: purple;
}

.border {
    border: 1px dotted black;
}


/*css*/

.header-top, .header-bottom {
    padding: 30px;
}
.container {
    width: 80%;
    margin: auto;
}

.flex-cont_hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.logo {
    width: 20%;
    text-align: left;
    padding: 10px;
}

.login {
    width: 20%;
    text-align: right;
    padding: 10px;
}


.menu {
    width: 60%;
    text-align: center;
    list-style-type: none;
    line-height: 100%;
    padding: 11px;
}

.menu li {
    display: inline;
}

.hb_box {
    width: 65%;
    height: 400px;
    margin: auto;
}

/* MAIN */

/*debug*/

.flex-cont_main {
    background-color: green;
}

.big_blue_item {
    background-color: blue;
    
}

.little_pink_item {
    background-color: pink;
}

.grey_section {
    background-color: grey;
}

.section_box {
    background-color: green;
}


/*css*/

section {
    padding: 30px;
}

.flex-cont_main {
    display: flex;
    height: 500px;
}

.big_blue_item {
    width: 60%;
}

.little_pink_item {
    width: 40%;
}

.section_box {
    height: 700px;
}
